
<div class="menu work about">
    <button ng-click="(main.slider = !main.slider)" id="clickButton"><i class="fa fa-bars fa-lg"></i></button>
    <div class="logo">
        <a href="#/"><img src="img/logo-cusbee.png" alt="logo-cusbee"></a>
    </div>
    <div class="builder"><a href="views/Team-Builder/builder.html" target="_blank">Team Builder</a></div>
    <div class="navigation">
        <a href="#/work"><img src="img/slaider/seting-slaid/left.png" alt=""></a>
        <span>{{page.title}}</span>
        <a href="#/service"><img src="img/slaider/seting-slaid/rigth.png" alt=""></a>
    </div>
</div>

<div class="wrapper">
    <div class="main">
        <section class="page1 video-background">
            <div class="page_container">
                <video width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto">
                    <source src="video/video.mp4" type="video/mp4"/>
                    <source src="video/video.webm" type="video/webm"/>
                </video>
                <div class="text-container">
                    <h2>Cusbee - it's for <span>creativity</span></h2>
                    <p> Sony laptops are among the most well known laptops on today’s market. Sony is a name that over time has
                        established itself as creating a
                        solid product with a stellar reputation.
                        In addition to all the good press that Sony has, Sony is known for making the best ‘small’ laptops.
                    </p>
                    <div class="number-block">
                        <span class="num">
                            <span class="circle"></span>
                            <p>The flash <br> tutorial</p>
                        </span>
                        <span class="num">
                            <span class="circle"></span>
                            <p>For women Only <br> Your computer</p>
                        </span>
                        <span class="num">
                            <span class="circle"></span>
                            <p>What s your <br> Passion</p>
                        </span>
                        <span class="num">
                            <span class="circle"></span>
                            <p>Can you get free<br> Game gor your</p>
                        </span>

                    </div>
                    <div class="scroll-img">
                        <img src="img/about/scroll.png" alt="scroll">
                    </div>
                </div>
            </div>
        </section>

        <section class="page2">
            <div class="page_container background-color">
                <h2>People who we trust</h2>
                <div class="img-block">
                        <a href="#"><img src="img/about/onemob.png" alt="onemob">
                                <span class="hover-text">
                                    <h3>OneMob</h3>
                                        <p>Once the printer ink runs dry it has to be replaced with another inkjet
                                            cartridge.
                                            There are many reputed companies like Canon, Epson,
                                            Dell, and Lexmark that provide the necessary
                                        </p>
                                </span>
                        </a>
                        <a href="#"><img src="img/about/uti.png" alt="utila">
                                <span class="hover-text">
                                    <h3>OneMob</h3>
                                        <p>Once the printer ink runs dry it has to be replaced with another inkjet
                                            cartridge.
                                            There are many reputed companies like Canon, Epson,
                                            Dell, and Lexmark that provide the necessary
                                        </p>
                                </span>
                        </a>
                        <a href="#"><img src="img/about/puca.png" alt="puca">
                                <span class="hover-text">
                                    <h3>OneMob</h3>
                                        <p>Once the printer ink runs dry it has to be replaced with another inkjet
                                            cartridge.
                                            There are many reputed companies like Canon, Epson,
                                            Dell, and Lexmark that provide the necessary
                                        </p>
                                </span>
                        </a>
                        <a href="#"><img src="img/about/ford.png" alt="ford">
                                <span class="hover-text">
                                    <h3>OneMob</h3>
                                        <p>Once the printer ink runs dry it has to be replaced with another inkjet
                                            cartridge.
                                            There are many reputed companies like Canon, Epson,
                                            Dell, and Lexmark that provide the necessary
                                        </p>
                                </span>
                        </a>
                        <a href="#"><img src="img/about/onemob.png" alt="onemob">
                                <span class="hover-text">
                                    <h3>OneMob</h3>
                                        <p>Once the printer ink runs dry it has to be replaced with another inkjet
                                            cartridge.
                                            There are many reputed companies like Canon, Epson,
                                            Dell, and Lexmark that provide the necessary
                                        </p>
                                </span>
                        </a>
                        <a href="#"><img src="img/about/uti.png" alt="utila">
                                <span class="hover-text">
                                    <h3>OneMob</h3>
                                        <p>Once the printer ink runs dry it has to be replaced with another inkjet
                                            cartridge.
                                            There are many reputed companies like Canon, Epson,
                                            Dell, and Lexmark that provide the necessary
                                        </p>
                                </span>
                        </a>
                        <a href="#" class="none-block"><img src="img/about/puca.png" alt="puca">
                                <span class="hover-text">
                                    <h3>OneMob</h3>
                                        <p>Once the printer ink runs dry it has to be replaced with another inkjet
                                            cartridge.
                                            There are many reputed companies like Canon, Epson,
                                            Dell, and Lexmark that provide the necessary
                                        </p>
                                </span>
                        </a>
                        <a href="#" class="none-block"><img src="img/about/ford.png" alt="ford">
                                <span class="hover-text">
                                    <h3>OneMob</h3>
                                        <p>Once the printer ink runs dry it has to be replaced with another inkjet
                                            cartridge.
                                            There are many reputed companies like Canon, Epson,
                                            Dell, and Lexmark that provide the necessary
                                        </p>
                                </span>
                        </a>
                </div>
            </div>
        </section>

        <section class="page3  video-background">
            <div class="page_container">
                <video width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto">
                    <source src="video/video.mp4" type="video/mp4"/>
                    <source src="video/video.webm" type="video/webm"/>
                </video>
                <div class="text-container2">
                    <h2>Let numbers says for us</h2>
                    <div class="number-block footer">
                            <span class="num">
                                <span class="number-20 spincrement">
                                    20
                                </span>
                                <p>Successful<br> projects</p>
                            </span>
                            <span class="num">
                                <span class="number-72 spincrement">
                                    72
                                </span>
                                <p>Amused <br> Clients</p>
                            </span>
                            <span class="num">
                                <span class="number-45 spincrement">
                                    45
                                </span>
                                <p>successful <br> Projects</p>
                            </span>
                            <span class="num">
                                <span class="number-72 spincrement">
                                    72
                                </span>
                                 <p>Amused <br> Clients</p>
                            </span>
                            <span class="num">
                            <span class="number-45 spincrement">
                                45
                            </span>
                            <p>successful <br> Projects</p>
                        </span>
                            <span class="num">
                                <span class="number-72 spincrement">
                                    72
                                </span>
                                 <p>Amused <br> Clients</p>
                            </span>
                    </div>
                    <p class="foot-text">
                        Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops,
                        while delivery people scan bar codes with handhelds and workers in the field stay in touch with the central office via their notebooks.
                        At home, we rely on our desktops and notebooks to do our shopping, to entertain us,with handhelds and workers in the field stay in touch with
                        the central office via their notebooks.
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="js/about/jquery.onepage-scroll.js"></script>
<script>
    $(document).ready(function () {
        $(".main").onepage_scroll({
            sectionContainer: "section",
            responsiveFallback: 600,
            loop: true
        });
    });
</script>

