<div class="menu work about navbar-fixed-top">
    <button ng-click="(main.slider = !main.slider)" id="clickButton"><i class="fa fa-bars fa-lg"></i></button>
    <div class="logo">
        <a href="#/"><img src="img/logo-cusbee.png" alt="logo-cusbee"></a>
    </div>
    <div class="builder"><a href="views/Team-Builder/builder.html" target="_blank">Team Builder</a></div>
    <div class="navigation">
        <a href="#/work"><img src="img/slaider/seting-slaid/left.png" alt=""></a>
        <span>{{page.title}}</span>
        <a href="#/service"><img src="img/slaider/seting-slaid/rigth.png" alt=""></a>
    </div>
</div>
<div class="content">
    <div class="mainPic">
        <div class="overlay"> </div>
        <div class="item">
            <div style="background:url(/img/pexels-photo-28718.jpg) center center;
          background-size:cover;" class="slider-size">
                <div class="carousel-caption">
                <h1>MEET CUSBEE</h1>
                <p>I’m not really sure how old I was when I got the gift for Christmas, but I remember thinking it was a pretty </p>
                </div>
            </div>
        </div>
    </div>
    <div class="secondPics">
        <div class="pic">
             <div class="overlay1"> </div>
        <div class="item1">
            <div style="background:url(/img/first.png) center center;
          background-size:cover;" class="slider-size1">
                <div class="carousel-caption">
                        <h4>Video Games Playing With Imagination</h4>
                </div>
            </div>
        </div>
        </div>
        <div class="pic">
             <div class="overlay1"> </div>
        <div class="item1">
            <div style="background:url(/img/second.png) center center;
          background-size:cover;" class="slider-size1">
                <div class="carousel-caption">
                    <h4>Video Games Playing With Imagination</h4>
                </div>
            </div>
        </div>
        </div>
        <div class="pic">
             <div class="overlay1"> </div>
        <div class="item1">
            <div style="background:url(/img/third.png) center center;
          background-size:cover;" class="slider-size1">
                <div class="carousel-caption">
                    <h4>Video Games Playing With Imagination</h4>
                </div>
            </div>
        </div>
        </div>
        
    </div>
</div>