<div class="menu work blog-menu">
    <button ng-click="(main.slider = !main.slider)" id="clickButton"><i class="fa fa-bars fa-lg"></i></button>
    <div class="logo">
        <a href="#/"><img src="img/logo-cusbee.png" alt="logo-cusbee"></a>
    </div>
    <div class="builder"><a href="views/Team-Builder/builder.html" target="_blank">Team Builder</a></div>
    <div class="navigation">
        <a href="#"><img src="img/slaider/seting-slaid/left.png" alt=""></a>
        <span>{{page.title}}</span>
        <a href="#"><img src="img/slaider/seting-slaid/rigth.png" alt=""></a>
    </div>
</div>

<div class="wrapper-blog">
    <section class="left-block-blog">
        <div class="one-blog settings-block">
            <div class="img">
                <img src="img/blog/one-img.png" alt="one-img">
            </div>
            <div class="text-blog">
                <div class="text-top">
                    <a href="#/possibilities">1M + Possibilities</a>
                    <span>John Doe</span> <span>/ January 18 2015</span>
                    <p>I meant no insult. You are done. Fired. Do not show your face at the laundry again. Stay away from Pinkman.
                        Do not go near him. Ever. Are you listening to me? What do you say?
                    </p>
                </div>
                <div class="readMore">
                    <span>Read More</span>
                    <span><a href="#"><img src="img/blog/heart.png" alt="like"></a>35</span>
                    <span><a href="#"><img src="img/blog/comment.png" alt="comment"></a>18</span>
                    <span class="share-icon"><a href="#"><img src="img/blog/share.png" alt="share"></a>Share</span>
                </div>
            </div>
        </div>
        <div class="two-blog settings-block">
              <div class="img">
                <img src="img/blog/two-img.png" alt="two-img">
            </div>
            <div class="text-blog">
                <div class="text-top">
                    <a href="#/advice">Life Advice Looking Through A Window</a>
                    <span>John Doe</span> <span>/ January 18 2015</span>
                    <p>Every avid independent filmmaker has dreamed about making that special interest documentary,
                        or short film to show off their creative prowess. Many have great ideas and want to “wow”
                    </p>
                </div>
                <div class="readMore">
                    <span>Read More</span>
                    <span><a href="#"><img src="img/blog/heart.png" alt="like"></a>35</span>
                    <span><a href="#"><img src="img/blog/comment.png" alt="comment"></a>18</span>
                    <span class="share-icon"><a href="#"><img src="img/blog/share.png" alt="share"></a>Share</span>
                </div>
            </div>
        </div>
        <div class="three-blog settings-block">
              <div class="img">
                <img src="img/blog/three-img.png" alt="three-img">
            </div>
            <div class="text-blog">
                <div class="text-top">
                    <a href="#/hardware">Pos Hardware More Options In Less Space</a>
                    <span>John Doe</span> <span>/ January 18 2015</span>
                    <p>Finding the perfect learning tool for Flash is a daunting task to any novice web developer.
                        One can find help in a number of ways through books,
                        friends and private tutors. These methods are great but not often readily
                    </p>
                </div>
                <div class="readMore">
                    <span>Read More</span>
                    <span><a href="#"><img src="img/blog/heart.png" alt="like"></a>35</span>
                    <span><a href="#"><img src="img/blog/comment.png" alt="comment"></a>18</span>
                    <span class="share-icon"><a href="#"><img src="img/blog/share.png" alt="share"></a>Share</span>
                </div>
            </div>
        </div>
            <div class="moreStories">
                <a href="#">More Stories</a>
            </div>
    </section>

    <section class="right-block-blog">
        <div class="search-block padding-bot">
            <h3 class="padding-bot">Search</h3>
            <input type="search" placeholder="Start search..."/>
        </div>
        <div class="tags-block padding-bot">
            <h3 class="padding-bot">Tags</h3>
            <a href="#">Response</a>
            <a href="#">UI/UX</a>
            <a href="#">Mobile Dev</a>
            <a href="#">Business solution</a>
        </div>
        <div class="categories padding-bot">
            <h3 class="padding-bot">Categories</h3>
            <ul>
                <li>V7 Digital Photo Printing</li>
                <li>Steps In Installig Rack Mount Lcd Monitors</li>
                <li>3 Simple Ways To Save</li>
                <li>Microsoft Patch Management For Home Users</li>
            </ul>
        </div>
        <div class="Archives">
            <h3 class="padding-bot">Archives</h3>
            <ul>
                <li>September 2015</li>
                <li>August 2015</li>
            </ul>
        </div>
    </section>
</div>
