<div class="menu work careers-menu">
    <button ng-click="(main.slider = !main.slider)" id="clickButton"><i class="fa fa-bars fa-lg"></i></button>
    <div class="logo">
        <a href="#/"><img src="img/logo-cusbee.png" alt="logo-cusbee"></a>
    </div>
    <div class="builder"><a href="views/Team-Builder/builder.html" target="_blank">Team Builder</a></div>
    <div class="navigation">
        <a href="#"><img src="img/slaider/seting-slaid/left.png" alt=""></a>
        <span>{{page.title}}</span>
        <a href="#"><img src="img/slaider/seting-slaid/rigth.png" alt=""></a>
    </div>
</div>
<div class="wrapper-careers">
    <section class="left-block-careers">
        <span class="title-accordion">Vacancy</span>
        <span class="title-accordion">Job type</span>
        <span class="title-accordion">Experience</span>
        <ul class="accordionWrap">
            <li class="accordion-block">
                <div accordion="" class="active">
                    <span class="title-accordion stack-users ">Senior Java Developer</span>
                    <span class="title-accordion stack-users ">Full-time</span>
                    <span class="title-accordion stack-users ">3-5 years</span>
                </div>
                <div class="content">
                        <span>
                            By describing your business you help your Webassure Agent better
                            understand what your do and how you do business.
                            The more information the Agent has the better the work will be.
                            You can about when you got started, how you treat your customers,your specialities,
                            what you are known for and anything else that will help your Agent.
                        </span>
                </div>
            </li>
            <li class="accordion-block">
                <div accordion="" class="active">
                    <span class="title-accordion stack-users ">Front-end Developer</span>
                    <span class="title-accordion stack-users ">Full-time</span>
                    <span class="title-accordion stack-users ">1-3 years</span>
                </div>
                <div class="content">
                 <span>
                    By describing your business you help your Webassure Agent better
                    understand what your do and how you do business.
                    The more information the Agent has the better the work will be.
                    You can about when you got started, how you treat your customers,your specialities,
                    what you are known for and anything else that will help your Agent.
                  </span>
                </div>
            </li>
            <li class="accordion-block">
                <div accordion="" class="active">
                    <span class="title-accordion stack-users ">Menual Test Engineer</span>
                    <span class="title-accordion stack-users ">Full-time</span>
                    <span class="title-accordion stack-users ">2-3 years</span>
                </div>
                <div class="content">
                  <span>
                     By describing your business you help your Webassure Agent better
                    understand what your do and how you do business.
                    The more information the Agent has the better the work will be.
                    You can about when you got started, how you treat your customers,your specialities,
                    what you are known for and anything else that will help your Agent.
                  </span>
                </div>
            </li>
            <li class="accordion-block">
                <div accordion="" class="active">
                    <span class="title-accordion stack-users ">Junior HR Manager</span>
                    <span class="title-accordion stack-users ">Full-time</span>
                    <span class="title-accordion stack-users ">1-3 years</span>
                </div>
                <div class="content">
              <span>
                By describing your business you help your Webassure Agent better
                understand what your do and how you do business.
                The more information the Agent has the better the work will be.
                You can about when you got started, how you treat your customers,your specialities,
                what you are known for and anything else that will help your Agent.
              </span>
                </div>
            </li>
            <li class="accordion-block">
                <div accordion="" class="active">
                    <span class="title-accordion stack-users ">Automation Test Engineer</span>
                    <span class="title-accordion stack-users ">Full-time</span>
                    <span class="title-accordion stack-users ">3-5 years</span>
                </div>
                <div class="content">
              <span>
                   By describing your business you help your Webassure Agent better
                    understand what your do and how you do business.
                    The more information the Agent has the better the work will be.
                    You can about when you got started, how you treat your customers,your specialities,
                    what you are known for and anything else that will help your Agent.
              </span>
                </div>
            </li>
        </ul>
    </section>
    <section class="right-block-careers">
        <div class="search-block padding-bot">
            <h3 class="padding-bot">Search</h3>
            <input type="search" placeholder="Start search..."/>
        </div>
        <div class="padding-bot">
            <h3 class="padding-bot">All categories</h3>
            <ul>
                <li><span>Development</span></li>
                <li><span>Design/UI-UX</span></li>
                <li><span>Marketing</span></li>
                <li><span>System Administration</span></li>
                <li><span>Other</span></li>
            </ul>
        </div>
    </section>
</div>
