<div id="wrapper">
    <div class="menu">
        <!--<a href="#" class="teamBuilder hidden-phone">Team Builder</a>-->
        <!--<a href="#" class="hidden-laptop"><img src="img/phone/add_user.png"  alt="builder"></a>-->
        <button ng-click="(main.slider = !main.slider)" id="clickButton"><i class="fa fa-bars fa-lg"></i></button>
        <div class="logo"><a href="#/"><img src="img/logo-cusbee.png" alt="logo-cusbee"></a></div>
    </div>
    <div class="contentHome">
        <h1>Big enough to make the job done</h1>
        <h2>While small enough to care</h2>
        <button  class="draw meet" onClick='location.href="#/work"'>Launch your rocket!</button>
    </div>
</div>
