<link rel="stylesheet" href="css/service/slide/style.css">
<div class="wrapper-service" ng-show="loader">
  <div class="menu work">
    <button ng-click="(main.slider = !main.slider)" id="clickButton"><i class="fa fa-bars fa-lg"></i></button>
    <div class="logo">
      <a href="#/"><img src="img/logo-cusbee.png" alt="logo-cusbee"></a>
    </div>
    <div class="builder"><a href="views/Team-Builder/builder.html" target="_blank">Team Builder</a></div>
    <div class="navigation">
      <a href="#/about"><img src="img/slaider/seting-slaid/left.png" alt=""></a>
      <span>{{page.title}}</span>
      <a href="#/contact"><img src="img/slaider/seting-slaid/rigth.png" alt=""></a>
    </div>
  </div>
  <div class="blocks-service">
    <div class="WebDev selected">
      <div class="logo-webDev">
        <img src="img/service/window-black.png" alt="window">
      </div>
      <h1>Web Development</h1>
      <span>Our custom software engineering services offer access to top developers experienced in a variety technologies and platforms. 
      </span>
      <a href="#" data-id="0">More <img src="img/service/arrow.png" alt="arrow"></a>
    </div>
    <div class="WebDev selected">
      <div class="logo-webDev">
        <img src="img/service/phone-black.png" alt="phone">
      </div>
      <h1>Mobile Development</h1>
      <span>Our team makes everything necessary to produce a well-founded and user-oriented mobile app solution. 
      </span>
      <a href="#" data-id="1">More <img src="img/service/arrow.png" alt="arrow"></a>
    </div>
    <div class="WebDev selected margin-left">
      <div class="logo-webDev">
        <img src="img/service/airplan-black.png" alt="airplan">
      </div>
      <h1>Project Management</h1>
      <span>Lore ipsum dolor sit amet, consectetur adip-isicing elit,
        sed do eiusmod tempor incididunt ut.
      </span>
      <a href="#" data-id="2">More <img src="img/service/arrow.png" alt="arrow"></a>
    </div>
    <div class="WebDev selected">
      <div class="logo-webDev">
        <img src="img/service/trafiglaight-black.png" alt="trafiglaight">
      </div>
      <h1>Business Solutions</h1>
      <span>If you’re looking for a review of actual processes or to elaborate your current development resources on a budget our team will be always here to help you.
      </span>
      <a href="#" data-id="3">More <img src="img/service/arrow.png" alt="arrow"></a>
    </div>
    <div class="WebDev selected">
      <div class="logo-webDev">
      <img src="img/service/headfone-black.png" alt="headfone">
      </div>
      <h1>Business Analytic Consulting</h1>
      <span>Our consulting team offers assessments of all the types and can help our clients with scaling strategy, we also deal with the implementation, benchmarking, and adjusting of the plan.
      </span>
      <a href="#" data-id="4">More <img src="img/service/arrow.png" alt="arrow"></a>
    </div>
    <div class="WebDev selected margin-left">
      <div class="logo-webDev">
      <img src="img/service/compass-black.png" alt="compass">
      </div>
      <h1>Application Crash Testing</h1>
      <span>Lore ipsum dolor sit amet, consectetur adip-isicing elit,
        sed do eiusmod tempor incididunt ut.
      </span>
      <a data-id="5">More <img src="img/service/arrow.png" alt="arrow"></a>
    </div>
  </div>
  <div class="cd-slider-wrapper">
    <img class="close-slide" src="img/close.png" alt="">
    <ul class="cd-slider">
      <li class="is-visible">
        <div class="cd-half-block image"></div>
        <div class="cd-half-block one-slide content">
          <div class="padding-top">
            <h2>Need help with crash tasting?</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat.
            </p>
            <a href="#" class="btn">Works</a>
            <a href="#" class="btn">Test the crash</a>
          </div>
        </div>
      </li>
      <li >
        <div class="cd-half-block image"></div>
        <div class="cd-half-block content two-slide light-bg">
          <div class="padding-top">
            <h2>Any kind of business solution</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat.
            </p>
            <a href="#" class="btn">Works <img src="img/slaider/arrow.png" alt="arrow"></a>
            <a href="#" class="btn">Get the solution</a>
          </div>
        </div> <!-- .cd-half-block.content -->
      </li>
      <li >
        <div class="cd-half-block image"></div>
        <div class="cd-half-block  three-slide content">
          <div class="padding-top">
            <h2>Any king of bussiness solution</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat.
            </p>
            <a href="#" class="btn">Works <img src="img/slaider/arrow.png" alt="arrow"></a>
            <a href="#" class="btn">Get the solution</a>
          </div>
        </div> <!-- .cd-half-block.content -->
      </li>
      <li >
        <div class="cd-half-block image"></div>
        <div class="cd-half-block four-slide content">
          <div class="padding-top">
            <h2>We'll manage project</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat.
            </p>
            <a href="#" class="btn">Works <img src="img/slaider/arrow.png" alt="arrow"></a>
            <a href="#" class="btn">Get the solution</a>
          </div>
        </div> <!-- .cd-half-block.content -->
      </li>
      <li >
        <div class="cd-half-block image"></div>
        <div class="cd-half-block content">
          <div class="padding-top">
            <h2>Equip your device with best soft</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat.
            </p>
            <a href="#" class="btn">Works <img src="img/slaider/arrow.png" alt="arrow"></a>
            <a href="#" class="btn">Get the solution</a>
          </div>
        </div> <!-- .cd-half-block.content -->
      </li>
      <li >
        <div class="cd-half-block image"></div>
        <div class="cd-half-block content">
          <div class="padding-top">
            <h2>Let's make your site work</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat.
            </p>
            <a href="#" class="btn">Works <img src="img/slaider/arrow.png" alt="arrow"></a>
            <a href="#" class="btn">Get the solution</a>
          </div>
        </div> <!-- .cd-half-block.content -->
      </li>
    </ul>
    <!--<div class="cd-navigation" style="position: relative;top: -70%;z-index: 9;">-->
      <!--<a href="#0" class="prev-slide" style="background-color: #3a3c47;"><img src="img/slaider/seting-slaid/left.png" alt=""></a>-->
      <!--<a href="#0" class="next-slide" style="background-color: #3a3c47;"><img src="img/slaider/seting-slaid/rigth.png" alt=""></a>-->
    <!--</div>-->
  </div>
</div>

<div class="preloader"style="position: absolute;top: 50%;left: 50%;right: 50%;" ng-hide="loader">
  <div class="loader">
    <div class="loader-inner ball-spin-fade-loader">
      <div></div>
      <div></div><div></div>
      <div></div><div></div>
      <div></div><div></div>
      <div></div></div>
  </div>
</div>