<link rel="stylesheet" href="css/slaider/ospb.css">
<div class="menu work">
  <button ng-click="(main.slider = !main.slider)" id="clickButton"><i class="fa fa-bars fa-lg"></i></button>
  <div class="logo">
    <a href="#/"><img src="img/logo-cusbee.png" alt="logo-cusbee"></a>
  </div>
  <div class="builder hidden-phone"><a href="views/Team-Builder/builder.html" target="_blank">Team Builder</a></div>
  <a href="#" class="hidden-laptop"><img src="img/phone/add_user.png"  alt="builder"></a>
  <div class="navigation hidden-phone">
    <a href="#/technologies"><img src="img/slaider/seting-slaid/left.png" alt="left"></a>
    <span>{{page.title}}</span>
    <a href="#/about"><img src="img/slaider/seting-slaid/rigth.png" alt="next"></a>
  </div>
</div>
<div class="workBg" ng-show="loader">
  <div id="example" class="example pagespan">
    <div class="frame" style="overflow: hidden;">
      <ul>
        <li class="active">
          <span class="framevork">Py</span>
          <a><img src="img/slaider/uti.png" alt="util 1"></a>
          <div class="text-slide">
            <span>Puca1</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
          </div>
        </li>
        <li>
          <span class="framevork">Js</span>
          <a><img src="img/slaider/uti.png" alt="util 2"></a>
          <div class="text-slide">
            <span>Puca2</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
          </div>
        </li>
        <li>
          <span class="framevork">PHP</span>
          <a><img src="img/slaider/uti.png" alt="util 3"></a>
          <div class="text-slide">
            <span>Puca3</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
          </div>
        </li>
        <li>
          <span class="framevork">Js</span>
          <a><img src="img/slaider/uti.png" alt="util 4"></a>
          <div class="text-slide">
            <span>Puca1</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
          </div>
        </li>
        <li>
          <span class="framevork">Py</span>
          <a><img src="img/slaider/uti.png" alt="util 5"></a>
          <div class="text-slide">
            <span>Puca4</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
          </div>
        </li>
        <li>
          <span class="framevork">PHP</span>
          <a><img src="img/slaider/uti.png" alt="util 6"></a>
          <div class="text-slide">
            <span>Puca5</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
          </div>
        </li>
        <li>
          <span class="framevork">Js</span>
          <a><img src="img/slaider/uti.png" alt="util 7"></a>
          <div class="text-slide">
            <span>Puca6</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
          </div>
        </li>
        <li>
          <span class="framevork">PHP</span>
          <a><img src="img/slaider/uti.png" alt="util 8"></a>
          <div class="text-slide">
            <span>Puca7</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
          </div>
        </li>
        <li>
          <span class="framevork">PHP</span>
          <a><img src="img/slaider/uti.png" alt="util 9"></a>
          <div class="text-slide">
            <span>Puca8</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
          </div>
        </li>
        <li>
          <span class="framevork">PHP</span>
          <a><img src="img/slaider/uti.png" alt="util 10"></a>
          <div class="text-slide">
            <span>Puca9</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
          </div>
        </li>
        <li>
          <span class="framevork">PHP</span>
          <a><img src="img/slaider/uti.png" alt="11"></a>
          <div class="text-slide">
            <span>Puca10</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
          </div>
        </li>
        <li>
          <span class="framevork">PHP</span>
          <a><img src="img/slaider/uti.png" alt="12"></a>
          <div class="text-slide">
            <span>Puca11</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
          </div>
        </li>
        <li>
          <span class="framevork">Jq</span>
          <a><img src="img/slaider/uti.png" alt="13"></a>
          <div class="text-slide">
            <span>Puca12</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
          </div>
        </li>
        <li>
          <span class="framevork">Py</span>
          <a><img src="img/slaider/uti.png" alt="14"></a>
          <div class="text-slide">
            <span>Puca13</span><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="scrollbar">
      <div class="handle">
        <div class="mousearea"></div>
      </div>
    </div>
    <div align="center">
      <ul class="pages filterFramevork">
        <li>
          <img src="img/slaider/seting-slaid/star.png" style="margin: 5px 8px;"/>
          <img src="img/slaider/seting-slaid/left.png"/>
          <img src="img/slaider/seting-slaid/rigth.png"/>
        </li>
        <li class="slideLi">
          <img src="img/slaider/seting-slaid/clock.png"style="margin: 1px 2px;"/>
          <img src="img/slaider/seting-slaid/first-slaid.png" class="activateSlider" data-id="0"/>
          <img src="img/slaider/seting-slaid/last-slaid.png" class="activateSlider" data-id="13"/>
        </li>
        <li class="slideLi">
          <img src="img/slaider/seting-slaid/Tehnologies.png">
          <img src="img/slaider/seting-slaid/JS.png" class="activateSlider" data-id="3">
          <img src="img/slaider/seting-slaid/Py.png" class="activateSlider" data-id="13">
          <img src="img/slaider/seting-slaid/PHP.png" class="activateSlider" data-id="8">
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="preloader"style="position: absolute;top: 50%;left: 50%;right: 50%;" ng-hide="loader">
  <div class="loader">
    <div class="loader-inner ball-spin-fade-loader">
      <div></div>
      <div></div><div></div>
      <div></div><div></div>
      <div></div><div></div>
      <div></div></div>
  </div>
</div>
